:root {
  --brown: #221c15;
  --till: #e2a480;
  --orange: #c2622d;
  --bg-color: #f6f1e8;
  --nav-links: #c2612d27;
  --font-display: "Fraunces", serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
html,
body,
#root {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: black;
}
main > div {
  flex: 1;
  height: 100vh;
}
.left {
  background-color: var(--brown);
}
.till {
  color: var(--till);
}
.card.auth-section {
  max-width: 500px;
  width: 95%;
  height: auto;
}
.auth-btn.btn,
.auth-btn.btn:hover {
  background-color: var(--orange);
  color: wheat;
}

.cursor-pointer {
  cursor: pointer;
}
.auth-switch {
  color: #c2622d;
}
.admin-sidebar {
  max-width: 300px;
  min-height: 100vh;
}
div > a {
  color: black;
}
a.btn,
a.btn:hover {
  background-color: var(--nav-links);
}
.active-nav-link.btn {
  border-color: #c2622d;
  color: #c2622d;
}
.store-name {
  color: var(--till);
  text-decoration: underline;
}

.add-btn.btn,
.add-btn.btn:hover {
  background-color: #c2622d;
  color: white;
}
.form-control.form-input {
  max-width: 20rem;
}
.form-select {
  max-width: 10rem;
}
